@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600;700&display=swap');

*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --aliceBlue:#F0F8FF;
    --darkCyan:#008B8B;
    --cadetBlue:#5F9EA0;
    --black: #000000;
    --aquamarine: #7FFFD4;
    --deepSkyBlue: #00BFFF;
}

body{
    color: var(--black);
    background: var(--aliceBlue);
}

                                        /* 1. Barra de navegação */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow:0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--aliceBlue);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo{
    color: var(--darkCyan);
    font-size: 1.5rem;
    font-weight: 600;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(--black);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    /* text-decoration: underline; */
    /* font-style: italic; */
}

.navigation ul li a:hover{
    color: var(--deepSkyBlue);
}

.navigation i{
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--black);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--darkCyan);
}

                                        /* 2. Seção HOME */

.home{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    min-height: 900px;
    background: #d2fffe;
}

.home-text{
    max-width: 37rem;
}

.home-text-h4{
    font-size: 2rem;
    color: var(--darkCyan);
    padding: 0px 0px 10% 0px;
}

.home-text-h1{
    width: 100%;
    font-size: 4em;
    padding: 0px 0px 20% 0px;
    line-height: 4.3rem;
    text-align: left;
}

.home-button {
    padding: 15px 45px;
    background: var(--darkCyan);
    color: var(--aliceBlue);
    border-radius: 10px;
    font-weight: 1000;
    transition: all 0.5s;
}

.home-button:hover{
    background: var(--deepSkyBlue);
}

.home-img {
    padding: 40px 0px 0px 0px;
    width: 55%;
}

                                        /* 3. Seção ABOUT ME */

.aboutMe {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5% 0px 0px;
    min-height: 900px;
    background: #d2fffe;
}

.aboutMe-text .aboutMe-paragraph1, .aboutMe-paragraph2, .aboutMe-paragraph3, .aboutMe-paragraph4, .aboutMe-paragraph5 {
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
    /* padding: 30px 0px 0px 40px; */
    margin: 30px 0px 0px 40px;
}

                                        /* 4. Seção CURRICULUM */

.curriculum {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
    min-height: 980px;
    background: #d2fffe;
}

.curriculum-text {
    font-size: 1.2rem;
}

.curriculum-paragraph1, .curriculum-paragraph2, .curriculum-paragraph3, .curriculum-paragraph4 {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1.3rem 0px;
}

.curriculum-img {
    height: 650px;
}

.tecnologias {
    display: flex;
}

.tecnologias p {
    padding: 2rem 0px 0px 0px;
    font-size: 1.5rem;
}

@keyframes updown {
    0% {
        transform: translateY(-5%);
    }
    
    50% {
        transform: translateY(5%);
    }
    
    100% {
        transform: translateY(-5%);
    }
}

#html-icon, #css-icon, #javascript-icon {
    font-size: 6rem;
    flex-direction: row;
    animation: updown 1s ease infinite;
}

#html-icon {
    color: #FF5733;
}

#css-icon {
    color: #2965f1;
}

#javascript-icon {
    color: #f0db4f;
}

.curriculum-img {
    max-width: 450px;
}

                                        /* 5. Seção Contatos */

.contact {
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5% 0px 5%;
    min-height: 900px;
    background: #d2fffe;
}

.social {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0px 5% 5%;
    list-style: none;
    flex-direction: row;
}

.social-title {
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
    padding: 0px 0px 10% 0px;
    color: var(--darkCyan);
}

.social-buttons {
    padding: 5%;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
}

.linkedin-color, .github-color, .whatsapp-color, .instagram-color, .twitter-color {
    color: var(--black);
}

#linkedin-icon, #github-icon, #whatsapp-icon, #instagram-icon, #twitter-icon {
    list-style: none;
    flex-direction: row;
    font-size: 6rem;
    
}

#linkedin-icon:hover {
    transform: scale(1.8);
    color: var(--deepSkyBlue);

}

#github-icon:hover {
    transform: scale(1.8);
}

#whatsapp-icon:hover {
    transform: scale(1.8);
    color: 	#075E54;
}

#instagram-icon:hover {
    transform: scale(1.8);
    color: #cd486b;
}

#twitter-icon:hover {
    transform: scale(1.8);
    color: #00acee;
}

                                        /* RESPONSIVE AREA */

@media (max-width:785px) {
    .navigation {
        padding: 12px 14px;
    }

    /* Efeito do menu */

    .menu {
        display: block;
    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--aliceBlue);
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right:0;
    }

    .nav-item {
        margin: 16px 0;
        text-decoration: underline;
    }

    /* main */
    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        min-height: 150px;
    }

    .home .text-h4 {
        font-size: 20px;
    }

    .home .text-h1 {
        font-size: 1.7rem;
        line-height: 3rem;
        text-align: center;
        padding: 0% 25% 0% 0%;
    }

    .home-btn {
        font-size: 12px;
        line-height: 5rem;
        text-align: center;
    }

    .home p{
        font-size: 15px;
    }

    .home-img .perfil-photo{
        display: none;
    }

    .aboutMe {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }

    .aboutMe .aboutMe-text .aboutMe-paragraph1, .aboutMe-paragraph2, .aboutMe-paragraph3, .aboutMe-paragraph4, .aboutMe-paragraph5 {
        display: flex;
        justify-content: center;
        text-align: justify;
        align-items: center;
        font-size: 1.0rem;
        margin-bottom: 1rem;
    }

    .aboutMe-img .perfil-photo-about {
        display: none;
    }

    .curriculum {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }

    .curriculum-img .perfil-photo-curriculum{
        display: none;
    }


    .contact {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }

    .social-title {
        font-size: 4rem;
    }

    .social-buttons {
        flex-direction: column;
        font-size: 1rem;
        padding: 0%;
    }

    #linkedin-icon, #github-icon, #whatsapp-icon, #instagram-icon, #twitter-icon {
        list-style: none;
        flex-direction: row;
        font-size: 4rem;
    }

    #linkedin-icon:hover {
        transform: scale(1);
        color: var(--deepSkyBlue);
    
    }
    
    #github-icon:hover {
        transform: scale(1);
    }
    
    #whatsapp-icon:hover {
        transform: scale(1);
        color: 	#075E54;
    }
    
    #instagram-icon:hover {
        transform: scale(1);
        color: #cd486b;
    }
    
    #twitter-icon:hover {
        transform: scale(1);
        color: #00acee;
    }
}